body {
    font: 100% "Lucida Sans", Verdana;
    line-height: 26px;
    margin: 20px;
}
#top {
    background-color: #04AA6D;
    color: #ffffff;
    padding: 15px;
}
#top h1, #top p, ul {
    margin: 0;
    padding: 0;
}
li {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    list-style-type: none;
    margin: 4px;
}
li:hover {
    background-color: #ffffff;
}
li:first-child {
    background-color: #04AA6D;
    color: #ffffff;
    font-weight: bold;
}
ul {
    float: left;
    width: 200px;
}
#main {
    margin: 0 210px;
    padding: 10px;
}
#sidebar {
    background-color: #32a4e7;
    color: #ffffff;
    position: absolute;
    width: 180px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 4px 0px;
    padding: 10px;
}
.wrapper {
    position: relative;
}
#bottom {
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    font-size: 70%;
    line-height: 14px;
    padding: 10px 20px;
    text-align: center;
}
#top, li, #sidebar, #bottom {
    border-radius: 4px;
}
a{
    color: black;
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
}
#bottom p{   
    margin: 0px;
}