body { }
#top { }
#top h1, #top p, ul { }
li { }
li:hover { }
li:first-child { }
ul { }
#main { }
#sidebar { }
.wrapper { }
#bottom { }
#top, li, #sidebar, #bottom { }
a{ }
a:hover{ }
#bottom p{ }

/*
background-color: #04AA6D;
background-color: #04AA6D;
background-color: #32a4e7;
background-color: #f1f1f1;
background-color: #f1f1f1;
background-color: #ffffff;
border: 1px solid #d4d4d4;
border: 1px solid #d4d4d4;
border-radius: 4px;
bottom: 0;
color: #ffffff;
color: #ffffff;
color: black;
color: white;
cursor: pointer;
float: left;
font: 100% "Lucida Sans", Verdana;
font-size: 70%;
font-weight: bold;
line-height: 14px;
line-height: 26px;
list-style-type: none;
margin: 0 210px;
margin: 0;
margin: 0px;
margin: 20px;
margin: 4px 0px;
margin: 4px;
padding: 0;
padding: 10px 20px;
padding: 10px;
padding: 10px;
padding: 15px;
position: absolute;
position: relative;
right: 0;
text-align: center;
text-decoration: none;
text-decoration: underline;
top: 0;
width: 180px;
width: 200px;
*/
